<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <textStopMinLeecher>0</textStopMinLeecher>
  <updateAnnounceParamsOnStart>false</updateAnnounceParamsOnStart>
  <finishedPercent>100</finishedPercent>
  <uploadRate>7998</uploadRate>
  <downloadRate>17</downloadRate>
  <interval>600</interval>
  <TorrentClientsIndex>11</TorrentClientsIndex>
  <checkLogEnabled>false</checkLogEnabled>
  <checkRequestScrap>false</checkRequestScrap>
  <checkShowTrayBaloon>true</checkShowTrayBaloon>
  <checkTCPListen>false</checkTCPListen>
  <customPort />
  <customKey>9D40C5D2</customKey>
  <customPeersNum />
  <customPeerID>-qB5100-k5X7RMlFcpG1</customPeerID>
  <textProxyHost />
  <textProxyPort />
  <textProxyPass />
  <textProxyUser />
  <comboProxyTypeIndex>0</comboProxyTypeIndex>
  <checkRandomUpload>true</checkRandomUpload>
  <checkRandomDownload>false</checkRandomDownload>
  <RandomUploadFrom>10000</RandomUploadFrom>
  <RandomUploadTo>14999</RandomUploadTo>
  <RandomDownloadFrom>5</RandomDownloadFrom>
  <RandomDownloadTo>30</RandomDownloadTo>
  <ignoreFailureReason>false</ignoreFailureReason>
  <torrentFilePath />
  <torrentHash />
  <stopProcessActionBox>0</stopProcessActionBox>
  <stopProcessValue>1000</stopProcessValue>
  <stopProcessUnitsBox>-1</stopProcessUnitsBox>
  <selectedLanguage>C:\Users\Jonas\Documents\Codex\RM\Build 40\\lng\1english.lng</selectedLanguage>
  <bindToIp>default</bindToIp>
  <minimizeTotray>true</minimizeTotray>
  <ignoreTimeout>false</ignoreTimeout>
  <useUPnP>false</useUPnP>
  <savePeerList>false</savePeerList>
  <interfaceTheme>Dark</interfaceTheme>
</ApplicationSettings>